<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
    <style>
        div{
            border: 1px solid back;
            width: 300px;
            height: 500px;
            display:inline-block;
            padding: 10px;
        }
    </style>
</head>
<body>
    Welcome, {{}}!
    <div>
        <h2>Quotable Quotes</h2>
    </div>
    <div>
        <h2>Your Favorites</h2>
        </div>
        <Br><br>
    <h3>Contibute a Quote</h3>
        <p>Quote by: Contibute></h3>
            <P>Created by:<input type "text"> </P>
            <p>Message: <input type ="text"> </p>
            <p><a href="/">Submit</a></p>
        
    
    
</body>
</html>